# Application
APP_NAME=nest-starter
APP_VERSION=0.1.0

# Server 
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=3000
# SERVER_CONTEXT=nest-qr-app

# Debugging
ENABLE_DEBUGGING=true
 
# File Logging
ENABLE_LOGGING=true
FILE_LOG_PATH=./src/storage/logs

# Throttle
DEFAULT_THROTTLE_TOTAL=60
DEFAULT_THROTTLE_LIMIT=10

# Swagger
SWAGGER_ENABLED=true
SWAGGER_TITLE=NestjsStarter
SWAGGER_DESCRIPTION=Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
SWAGGER_VERSION=${APP_VERSION}